<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>百度一下, 你就知道</title>
		<link rel="icon" href="img/1.png" />
		<!-- 引入css文件 -->
		<link rel="stylesheet" href="css/baidu.css" />
	</head>
	<body>
		<!-- 头 -->
		<div id="head">
			<div id="head-left">
				<a href="http://news.baidu.com" target="_blank">新闻</a>
				<a href="https://www.hao123.com" target="_blank">hao123</a>
				<a href="http://map.baidu.com" target="_blank">地图</a>
				<a href="http://tieba.baidu.com/" target="_blank">贴吧</a>
				<a href="https://haokan.baidu.com/?sfrom=baidu-top" target="_blank">视频</a>
				<a href="http://image.baidu.com/" target="_blank"> 图片</a>
				<a href="https://pan.baidu.com?from=1026962h" target="_blank">网盘</a>
				<div id="head-left-more">
					<a href="http://www.baidu.com/more/" target="_blank">更多</a>
					<div id="hide-div">
						<img src="img/11.png" alt="" />
					</div>
				</div>
			</div>
			<div id="head-right"></div>
		</div>
		<!-- 身体 -->
		<div id="body">
			<!-- baidu logo -->
			<img src="img/logo.png" alt="" />
			<form target="_blank" method="get" action="https://www.baidu.com/s">
				<div id="search">
					<!--  找到对应的位置 -->
					<div id="search-input">
						<!-- 实际搜索框的展示  -->
						<input type="text" name="wd">
					</div>
					<div id="search-btn">
						<input type="submit" value="百度一下"/>
					</div>
				</div>
			</form>
			<div id="hot">
				<div id="hot-left">
					<a href="">百度热搜  &gt;</a>
				</div>
				<div id="hot-right">
					<a href="">&#10227; 换一换</a>
				</div>
			</div>
			<ul id="hot-ul">
				<li class="left-li">
					<span class="num" style="color: #fe2d46;">1</span>
					<span class="font">勇于自我革命赢得历史主动</span>
				</li>
				<li class="right-li">
					<span class="num">4</span>
					<span class="font">北京新增本土确诊7例 无症状2例</span>
				</li>
				<li class="left-li">
					<span class="num" style="color: #f60;">2</span>
					<span class="font">母女雪中冻一夜因报错地址 母亲致歉</span>
				</li>
				<li class="right-li">
					<span class="num">5</span>
					<span class="font">大范围雨雪再来袭 8省有大到暴雪</span>
				</li>
				<li class="left-li">
					<span class="num" style="color: #faa90e;">3</span>
					<span class="font">讲好冬奥故事 共赴冰雪之约</span>
				</li>
				<li class="right-li">
					<span class="num">6</span>
					<span class="font">姥姥回应刘学州向生父要房子争议</span>
				</li>
			</ul>
		</div>
		<!-- 脚 -->
		<div id="foot">
			<div id="foot-div">
				<p class="lh">
					<a class="text-color" href="//home.baidu.com" target="_blank">关于百度</a>
				</p>
				<p class="lh">
					<a class="text-color" href="http://ir.baidu.com" target="_blank">About Baidu</a>
				</p>
				<p class="lh">
					<a class="text-color" href="//www.baidu.com/duty" target="_blank">使用百度前必读</a>
				</p>
				<p class="lh">
					<a class="text-color" href="//help.baidu.com" target="_blank">帮助中心</a>
				</p>
				<p class="lh">
					<a class="text-color" href="" target="_blank">京公网安备11000002000001号</a>
				</p>
				<p class="lh">
					<a class="text-color" href="https://beian.miit.gov.cn" target="_blank">京ICP证030173号</a>
				</p>
				<p class="lh">
					<span class="text-color">©2021&nbsp;Baidu&nbsp;</span>
				</p>
				<p class="lh">
					<span class="text-color">互联网药品信息服务资格证书 (京)-经营性-2017-0020</span>
				</p>
				<p class="lh">
					<a class="text-color" href="//www.baidu.com/licence/" target="_blank">信息网络传播视听节目许可证 0110516</a>
				</p>
				<p class="lh">
					<a class="text-color" href="//www.baidu.com/licence/" target="_blank"> 适老化无障碍服务</a>
				</p>
			</div>
		</div>
	</body>
</html>












